* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: lato-regular, "Helvetica Neue", Helvetica, Arial,
    "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}
.header {
  background-color: #9caebf;
  min-height: 45px;
  font-family: Arial, Helvetica, sans-serif;

  .container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

ul {
  list-style: none;
  font-size: 14px;
  line-height: 1.72222;

  li {
    display: inline-block;
    position: relative;
    padding: 10px 15px;

    a {
      text-decoration: none;
      background-color: transparent;
      line-height: 24px;
      color: #fff;
    }
  }
}

.wrapper {
  .title {
    min-height: 200px;
    background-color: #9caebf;
    color: #fff;

    .title-wrap {
      width: 1170px;
      padding-left: 15px;
      padding-right: 15px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .main {
    margin-bottom: 30px;

    .container {
      margin-left: auto;
      margin-right: auto;
      width: 1170px;
      margin-right: 8.33333333%;

      .article {
        margin-top: 30px !important;
        display: flex;
        font-family: inherit;
        font-weight: 400;
        line-height: 1.2;
        color: inherit;
        border-bottom: 1px solid rgba(34, 36, 38, 0.15);
        width: 63%;
        height: 180px;
        padding-bottom: 30px;
        .left {
          img {
            border-radius: 5px;
            width: 260px;
            height: 146px;
            vertical-align: middle;
          }
        }

        .media {
          margin-left: 10px;
          height: 80%;
          overflow: hidden;
        }

        a {
          text-decoration: none;
          background-color: transparent;
          line-height: 24px;
          color: #34495e;
        }
        h2 {
          color: #95a5a6;
          font-size: 1em;
          font-family: inherit;
        }
        p {
          font-size: 1.4em;
          line-height: 1em;
          color: #7f8c8d;
        }
      }
    }
  }
}
