
$bgColor: #9caebf;
$fontColor: #F0FFFF;
$hoverColor: #33587C;

.book {
  margin-left: auto;
  margin-right: auto;
  max-width: 680px;
  min-height: 80vh;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman",
    Times, serif;
  font-size: 21px;
  line-height: 1.58;
  margin-top: 6%;
}

.title-wrap{


.profile-rate{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;

 h2{
   text-align: center;
   padding: 40px 0;
 }

 h4{
   text-align: center;
 }
 a{
   text-decoration: none;
   color: $fontColor;
 }


}



}
