$bgColor: #9caebf;
$fontColor: #636b6f;
$hoverColor: #33587C;



.login-container {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 15%;
    min-height: 80vh;
    color: $fontColor;

    form{
        position: relative;
        width: 33vw;
        min-height: 50vh;
        background-color: #ecf0f1;
        display: flex;
        flex-flow: row wrap;

        
        a{
            color: $fontColor;
            text-decoration: none;
            margin: 10px;
        }

        .form-group{
            margin: 10px;
            height: 10vh;
            width: 90%;
            
            label{
                margin-left: 3vw;
                display: block;
                font-size: 16px;
                color: $fontColor;
            }
            input{
                margin: 0 auto;
                display: block;
                width: 80%;
                padding: 5px;
                font-size: 24px;
                border: none;
                background-color: #fff;
                color: $fontColor;
            }

            h2{
                text-align: center;
            }


        }
    }

}